.room-code{
    
    border-radius: 8px;
    overflow: hidden;

    background: #fff;
    border: 1px solid #3b3746;
    cursor: pointer;

    display: flex;

    div{
      background: #e559f9;
      padding: 0 15px;
      display: flex;
      justify-content: center;
      justify-items: center;
    }
    span {
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 245px;
        font-size: 14px;
        font-weight: 500;

    }
}